<app-header class="headerPage"></app-header>

<body>
	<app-sidebar class="sidebar"></app-sidebar>

	<section class="contenido">
		<div class="titulo">
			<h1>Cupones</h1>
		</div>

		<div class="table-container">
			<table id="myTable" class="tablita">
				<thead>
					<tr>
						<th>Id</th>
						<th>Descripción</th>
						<th>Fecha vencimiento</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let coupon of cuponsList">
						<td> {{ coupon.id }} </td>
						<td> {{ coupon.description }} </td>
						<td> {{ coupon.expirationDate | date:'dd/MM/yyyy' }} </td>
						<td>
							<div class="opciones">
								<a class="links edit" [routerLink]="'/cupones/edit/' + coupon.id">
									<i class="bx bxs-edit"></i>
								</a>
								<a class="links delete" (click)="delete(coupon.id)">
									<i class="bx bxs-trash"></i>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="addBtn-container">
			<a [routerLink]="'/cupones/add'"> Crear un nuevo Cupón </a>
		</div>
	</section>
</body>
