<app-header class="header"></app-header>

<body>
	<app-sidebar class="sidebar"></app-sidebar>

	<section class="contenido">
		<div class="editar">
			<h2 class="titulo">Editar Cupón</h2>

			<form [formGroup]="couponForm" (ngSubmit)="onSubmit()">
				<div class="inputText">
					<label>Descripción del cupón</label>
					<input
						type="text"
						formControlName="descripcion"
						placeholder="Cupón de descuento para el plan Emprender"
					/>
				</div>

				<div class="inputText">
					<label>Funcionalidades</label>
					<select formControlName="funcionalidad">
						<option>Funcionalidad1</option>
						<option>Funcionalidad2</option>
					</select>
				</div>

				<div class="inputText">
					<label>Plan</label>
					<select formControlName="plan">
						<option>Emprender</option>
						<option>Avanzado</option>
					</select>
				</div>

				<div class="inputText">
					<label>Periodo de validez</label>
					<input type="number" formControlName="validez" value="5" />
				</div>

				<div class="inputText">
					<label>Código</label>
					<input type="text" formControlName="codigo" placeholder="aaa" />
				</div>

				<div class="addBtn-container">
					<a href="#" class="cancel-btn"> <i class="fas fa-arrow-left"></i> Cancelar </a>
					<button type="submit" class="submit-btn" [disabled]="couponForm.invalid">
						<i class="fas fa-save"></i> Aceptar
					</button>
				</div>
			</form>
		</div>
	</section>
</body>
