<app-header class="headerPage"></app-header>

<body>
	<app-sidebar class="sidebar"></app-sidebar>
	<div class="support-container">
		<h1 class="title">Soporte</h1>
		<h1 class="subtitle">Responder Pregunta</h1>

		<div class="support-card">
			<div class="question-section">
				<p><strong>Pregunta:</strong></p>
				<p>El emprendedor <a>Nike_co</a> ha hecho esta pregunta.</p>
				<blockquote>
					Necesito saber cómo puedo acceder al módulo de Capacitación, para mí es importante saber esto
					porque mi emprendimiento depende mucho de esto, ¿me podrían ayudar?
				</blockquote>
			</div>

			<div class="answer-section">
				<label for="respuesta">Responder:</label>
				<textarea
					id="respuesta"
					name="respuesta"
					rows="6"
					placeholder="Escriba aquí lo que quiere responderle al usuario"
				></textarea>
			</div>

			<button type="submit" [routerLink]="'/soporte'">Enviar respuesta</button>
		</div>
	</div>
</body>
