

body {
	min-height: 89vh;
	margin-top: 100px;
	width: 100%;
}

.headerPage {
	z-index: 10;
	width: 100%;
	position: fixed;
	top: 0;
}

.sidebar {
	position: fixed;
	top: 100px;
	left: 0;
	width: 280px;
}

.contenido {
	margin-left: 280px;
	padding: 20px;
}

.titulo, .subtitulo {
	width: 100%;
	text-align: center;
}

.titulo h1 {
	font-size: 2.4em;
	font-weight: bold;
}

.subtitulo h2 {
	font-size: 1.8em;
	font-weight: bold;
}

canvas {
    width: 100%; 
    height: 100%; 
}


.containerGastoIngreso {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 30%; /* Ancho máximo */
    height: 25%; /* Altura máxima */
   
}

.toggle-button {
    display: flex;
    width: 100px; 
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    margin: 20px 0;
}

.toggle-option {
    flex: 1;
    text-align: center;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.toggle-option.active {
    color: white; /* Texto blanco para el icono activo */
}

.toggle-option.active:nth-child(1) {
    background-color: #63c5da; /* Color del botón activo para ingresos */
}

.toggle-option.active:nth-child(2) {
    background-color: rgb(255, 99, 132); /* Color del botón activo para gastos */
}

.toggle-option i {
    font-size: 20px; /* Ajusta el tamaño del icono */
}


.ingresosPorPlan {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 30%; /* Ancho máximo */
    height: 25%; /* Altura máxima */
}
.charts-container {
    display: flex; /* Habilita la disposición en flex */

    align-items: flex-start; /* Alinea los elementos al inicio */
    
}

.spacer {
    width: 100px; /* Ancho del botón toggle */
    height: 40px; /* Alto del botón toggle (ajusta según el tamaño real) */
    margin: 20px 0;
}