<app-header class="header"></app-header>

<body>
	<app-sidebar class="sidebar"></app-sidebar>

	<section class="contenido">
		<div class="titulo">
			<h1>Ingrese la información de la nueva capacitación</h1>
		</div>

		<!--<form class="editar">
			-- <h2>Información del plan</h2> --
			<div class="inputText">
				<label class="" for="titulo" required>Contenido - titulo</label>
				<input type="text" id="titulo" name="titulo" />
			</div>

			<div class="inputDate">
                <label for="fecha">Fecha</label>
                <input type="text" id="fecha" name="fecha" placeholder="dd/mm/yyyy">
			</div>

            <div class="inputText">
                <label for="modalidad">Modalidad</label>
                <select id="modalidad" name="modalidad">
                  <option value="" disabled selected>Selecciona una modalidad</option>
                  <option value="presencial">Presencial</option>
                  <option value="virtual">Virtual</option>
                </select>
            </div>

            <div class="inputText">
                <label class="" for="direccion" required>Direccion - link</label>
                <p>
                    Recuerde que para capacitación física es una dirección y para una capacitación virtual seria el link de acceso a la reunión.
                </p>
				<input type="direccion" id="direccion" name="direccion" />
            </div>

			<div class="inputText">
				<label class="" for="Cupos" required>Cupos</label>
				<input type="Cupos" id="Cupos" name="Cupos" />
			</div>

		</form>-->
        <form class="crear"(ngSubmit)="crear()">

            <label for="contenido">Contenido - Título</label>
            <input type="text" id="contenido" name="contenido" placeholder="Contenido - título" [(ngModel)]="formCourse.title" />
            
            <label for="descripcion">Descripción</label>
            <input type="text" id="contenido" name="contenido" placeholder="Ingrese una breve descripción acerca de la capacitación" [(ngModel)]="formCourse.description"/>
            
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha" name="fecha" placeholder="dd/mm/yyyy"[(ngModel)]="formCourse.date"/>
          
            <label for="modalidad">Modalidad</label>
            <select id="modalidad" name="modalidad" [(ngModel)]="formCourse.modality">
              <option value="" disabled selected >Selecciona una modalidad</option>
              <option value="presencial" >Presencial</option>
              <option value="virtual">Virtual</option>
            </select>
          
            <label for="direccion">Dirección - Link</label>
            <textarea id="direccion" name="direccion" placeholder="Recuerde que para capacitación física es una dirección y para una capacitación virtual sería el link de acceso a la reunión." [(ngModel)]="formCourse.link"></textarea>
          
            <label for="cupos">Cupos</label>
            <input type="number" id="cupos" name="cupos" placeholder="Cupos"[(ngModel)]="formCourse.places">
            <div class="addBtn-container">
                <a [routerLink]="'/capacitaciones'">
                    <i class='bx bx-left-arrow-alt'></i>
                    Cancelar
                </a>
                <button type="submit">Guardar cambios</button>
            </div>
          </form>
          

		<!--<div class="addBtn-container">
			<a [routerLink]="'/planes'">
				<i class='bx bx-left-arrow-alt'></i>
				Cancelar
			</a>
			<a>
				<i class='bx bxs-save' ></i>
				Aceptar
			</a>
		</div>-->
	</section>
</body>
