<app-header class="header"></app-header>

<body>
	<app-sidebar class="sidebar"></app-sidebar>

	<section class="contenido">
		<div class="titulo">
			<h1>Editar bazar</h1>
		</div>

		<div class="editar-bazar">
			<form>
				<div class="info-bazar">
					<div class="form-row">
						<div>
							<label><strong>Nombre del evento:</strong></label>
							<input type="text" [(ngModel)]="formEvent.name" name="name" id="name"/>
						</div>
						<div>
							<label><strong>Ganancias:</strong></label>
							<input type="number" [(ngModel)]="formEvent.earnings" name="earnings" />
						</div>
						<div>
							<label><strong>Locales:</strong></label>
							<input type="number" [(ngModel)]="formEvent.costoLocal" name="costoLocal" />
						</div>
					</div>

					<div class="form-row">
						<div>
							<label><strong>Fechas:</strong></label>
							<input type="date" [(ngModel)]="formEvent.date" name="date" />
						</div>
						<div>
							<label><strong>Quota:</strong></label>
							<input type="number" [(ngModel)]="formEvent.quota" name="quota" />
						</div>
					</div>

					<div class="form-row">
						<div>
							<label><strong>Modalidad:</strong></label>
							<select [(ngModel)]="formEvent.modality" name="modality">
								<option value="Presencial">Presencial</option>
								<option value="Virtual">Virtual</option>
							</select>
						</div>
						<div>
							<label><strong>Lugar:</strong></label>
							<input type="text" [(ngModel)]="formEvent.place" name="place" />
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="addBtn-container">
			<a [routerLink]="'/bazares'">
				<i class="bx bx-left-arrow-alt"></i>
				Cancelar
			</a>
			<a (click)="editar()" class="btn-save" id="saveBazar">
				<i class="bx bxs-save"></i>
				Guardar
			</a>
		</div>
	</section>
</body>
