<app-header class="header"></app-header>

<body>
	<app-sidebar class="sidebar"></app-sidebar>

    <section class="contenido">

        <div class="titulo">
			<h1>Editar empleado</h1>
		</div>
        
            <form class="editar">

                <h2 class="form-group">Información del empeleado</h2>

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" placeholder="Ingrese el nombre del empleado">
                </div>
    
                <div class="form-group">
                    <label for="documento">Número de documento</label>
                    <input type="text" id="documento" placeholder="Ingrese el número del documento">
                </div>
    
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" id="email" placeholder="Ingrese la dirección de correo electrónico">
                </div>
    
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" placeholder="Ingrese la contraseña">
                </div>
    
                <div class="form-group">
                    <label for="perfil">Perfil en la empresa</label>
                    <select id="perfil">
                        <option value="Administrador">Administrador</option>
                        <option value="Publicidad">Publicidad</option>
                        <option value="Ventas">Ventas</option>
                        <option value="Community Manager">Community Manager</option>
                        <option value="Asesorías">Asesorías</option>
                    </select>
                </div>
    
                <div class="btn-container">
                    <a [routerLink]="['/perfiles']" class="btn">
                        <i class ='bx bx-left-arrow-alt'></i>
                        Cancelar
                    </a>
                    <a [routerLink]="['/perfiles']" class="btn">
                        <i class ='bx bx-user-plus'></i>
                        Guardar cambios
                    </a>
                </div>
                
            </form>
        
    </section>
</body>