<app-header class="headerPage"></app-header>

<body>
	<app-sidebar class="sidebar"></app-sidebar>

	<section class="contenido">
		<div class="titulo">
			<h1>Capacitaciones</h1>
		</div>
		<div class="paginacion">
			<mat-paginator
				[length]="length"
				[pageSize]="pageSize"
				(page)="handlePageEvent($event)"
				[hidePageSize]="true"
			>
			</mat-paginator>
		</div>
		<div class="table-container">
			<table id="myTable" class="tablita">
				<thead>
					<tr>
						<th>ID</th>
						<th>Contenido-titulo</th>
						<th>Fecha</th>
						<th>Detalles</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let course of paginatedCourseList">
						<td>{{ course.id }}</td>
						<td>{{ course.title }}</td>
						<td>{{ course.date | date: 'dd/MM/yyyy' }}</td>
						<td>
							<a class="links edit" [routerLink]="['/capacitaciones/edit/', course.id]">
								<i class="bx bxs-edit"></i>
							</a>
							<a class="links delete" (click)="deleteCourse(course.id)">
								<i class="bx bxs-trash"></i>
							</a>
							<a class="links info" [routerLink]="['/capacitaciones/info/', course.id]">
								<i class="bx bx-info-circle"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="addBtn-container">
			<a [routerLink]="'/capacitaciones/add'" id="addCapacitation">
				<i class="bx bx-user-plus"></i>
				Agregar capacitación
			</a>
		</div>
	</section>
</body>
