<app-header class="headerPage"></app-header>

<body>
	<app-sidebar class="sidebar"></app-sidebar>

	<section class="contenido">
		<div class="titulo">
			<h1>Capacitaciones</h1>
		</div>

        <div class="subtitulo">
			<h1>Capacitaciones activas:</h1>
		</div>

		<div class="table-container">
			<table id="myTable" class="tablita">
				<thead>
					<tr>
						<th>ID</th>
						<th>Contenido-titulo</th>
						<th>Fecha</th>
						<th>Detalles</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Cap_finanzas</td>
						<td>15/09/2024</td>
						<td>
							<div class="opciones">
								<a class="links edit" [routerLink]="'/capacitaciones/edit/1'">
									<i class="bx bxs-edit"></i>
								</a>
								<a class="links delete" [routerLink]="'/capacitaciones/delete/{id}'">
									<i class="bx bxs-trash"></i>
								</a>
                                <a class="links info" [routerLink]="'/capacitaciones/info'">
                                    <i class='bx bx-info-circle'></i>
								</a>
							</div>
						</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Cap_ventas</td>
						<td>20/09/2024</td>
						<td>
							<div class="opciones">
								<a class="links edit" [routerLink]="'/capacitaciones/edit/1'">
									<i class="bx bxs-edit"></i>
								</a>
								<a class="links delete" [routerLink]="'/capacitaciones/delete/{id}'">
									<i class="bx bxs-trash"></i>
								</a>
                                <a class="links info" [routerLink]="'/capacitaciones/info'">
                                    <i class='bx bx-info-circle'></i>
								</a>
							</div>
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Cap_marketing</td>
						<td>30/10/2024</td>
						<td>
							<div class="opciones">
								<a class="links edit" [routerLink]="'/capacitaciones/edit/1'">
									<i class="bx bxs-edit"></i>
								</a>
								<a class="links delete" [routerLink]="'/capacitaciones/delete/{id}'">
									<i class="bx bxs-trash"></i>
								</a>
                                <a class="links info" [routerLink]="'/capacitaciones/info'">
                                    <i class='bx bx-info-circle'></i>
								</a>
							</div>
						</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Cap_como_emprender</td>
						<td>08/10/2024</td>
						<td>
							<div class="opciones">
								<a class="links edit" [routerLink]="'/capacitaciones/edit/1'">
									<i class="bx bxs-edit"></i>
								</a>
								<a class="links delete" [routerLink]="'/capacitaciones/delete/{id}'">
									<i class="bx bxs-trash"></i>
								</a>
                                <a class="links info" [routerLink]="'/capacitaciones/info'">
                                    <i class='bx bx-info-circle'></i>
								</a>
							</div>
						</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Cap_estadisticas</td>
						<td>08/10/2024</td>
						<td>
							<div class="opciones">
								<a class="links edit" [routerLink]="'/capacitaciones/edit/1'">
									<i class="bx bxs-edit"></i>
								</a>
								<a class="links delete" [routerLink]="'/capacitaciones/delete/{id}'">
									<i class="bx bxs-trash"></i>
								</a>
                                <a class="links info" [routerLink]="'/capacitaciones/info'">
                                    <i class='bx bx-info-circle'></i>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="addBtn-container">
			
			<a [routerLink]="'/capacitaciones/add'">
				<i class='bx bx-user-plus'></i>
				Agregar capacitación
			</a>
		</div>
	</section>
</body>
