<app-header class="headerPage"></app-header>

<body>
	<app-sidebar class="sidebar"></app-sidebar>

	<section class="contenido">
		<div class="titulo">
			<h1>Soporte Preguntas Emprendedores</h1>
		</div>

		<div class="table-container">
			<table id="myTable" class="tablita">
				<thead>
					<tr>
						<th>Pregunta</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let pregunta of preguntas; let i = index">
						<td> {{ pregunta }} </td>
						<td>
							<div class="opciones">
								<a class="links message" [routerLink]="['/soporte/', i]">
									<i class="bx bxs-message"></i>
								</a>
								<a class="links delete" (click)="delete(i)">
									<i class="bx bxs-trash"></i>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
