<app-header class="headerPage"></app-header>

<body>
  <app-sidebar class="sidebar"></app-sidebar>

  <section class="contenido">
    <div class="titulo">
      <h1>Emprendimientos</h1>
    </div>

    <div class="table-container">
      <table id="myTable" class="tablita">
        <thead>
          <tr>
            <th>ID</th>
            <th>Logo</th>
            <th>Nombre Emprendimiento</th>
            <th>Plan actual</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of emprendimientos">
            <td>{{ emp.id }}</td>
            <td>
              <img *ngIf="emp.logo" [src]="emp.logo" alt="Logo" class="logoEmp">
              <span *ngIf="!emp.logo">Sin Logo</span>
            </td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.plan_name }}</td>
            <td>
              <a class="links informa" [routerLink]="['/emprendimientos', emp.id]">
                <i class='bx bx-info-circle'></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>
