<app-header class="headerPage"></app-header>

<body>
	<app-sidebar class="sidebar"></app-sidebar>

	<section class="contenido">
		<div class="titulo">
			<h1>Planes</h1>
		</div>

		<div class="gridTablas">
			<!-- Card para los planes -->
			<div class="pack-container" *ngFor="let plan of planList" >
				<div class="header">
					<p class="title"> {{ plan.name }} </p>
					<div class="price-container">
						<span>$</span> {{ plan.price}}
						<span>/mo</span>
					</div>
				</div>
				<div>
					<ul class="lists">
						<li class="list" *ngFor="let func of plan.functionalities">
							<span>
								<svg
									aria-hidden="true"
									stroke="currentColor"
									stroke-width="2"
									viewBox="0 0 24 24"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M4.5 12.75l6 6 9-13.5"
										stroke-linejoin="round"
										stroke-linecap="round"
									></path>
								</svg>
							</span>
							<p> <strong> {{func.name }} </strong> <br> {{func.description }}</p>
						</li>
					</ul>
				</div>
				<div class="containerBotones">
					<div class="button-container">
						<a [routerLink]="['/planes/edit/', plan.id]">
                            <i class='bx bxs-edit'></i>
                            Editar
                        </a>
					</div>
					<div class="button-container">
						<a (click)="deletePlan(plan.id)">
                            <i class='bx bxs-trash' ></i>
                            Eliminar
                        </a>
					</div>
				</div>
			</div>
		</div>

        <div class="addBtn-container">
            <a [routerLink]="'/planes/add'">
                <i class='bx bx-plus-circle'></i>
                Agregar plan
			</a>
        </div>

	</section>
</body>
