<app-header class="headerPage"></app-header>

<body>
	<app-sidebar class="sidebar"></app-sidebar>

	<section class="contenido">
		<div class="titulo">
			<h1>Perfil: {{ profile.name }}</h1>
		</div>

		<div class="table-container">
			<table id="myTable" class="tablita">
				<thead>
					<tr>
						<th>Nombre de empleado</th>
						<th>Cedula</th>
						<th>Correo</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let userElement of users">
						<td> {{ userElement.user.name }} </td>
						<td> {{ userElement.user.idCard }} </td>
						<td> {{ userElement.user.email }} </td>
						<td>
							<div class="opciones">
								<a class="links edit" [routerLink]="['/perfiles', userElement.id, 'edit']" [attr.id]="'edit-' + userElement.id">
									<i class="bx bxs-edit"></i>
								</a>
								<a class="links delete" (click)="delete(userElement.id)" [attr.id]="'delete-' + userElement.id">
									<i class="bx bxs-trash"></i>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="addBtn-container">
			<a [routerLink]="'/perfiles'">
				<i class='bx bx-left-arrow-alt'></i>
				Regresar
			</a>
			<a [routerLink]="'/perfiles/add'" id="addEmployee">
				<i class='bx bx-user-plus'></i>
				Agregar empleado
			</a>
		</div>
	</section>
</body>
