<body>
    <div class="tituloSB">
        <p>Menu</p>
    </div>

    <div class="opciones">
        <ul>
            <li>
                <a class="elementos">
                    <i class="bx bxs-dashboard"></i>
                    <span class="nav-item">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="elementos">
                    <i class="bx bxs-store-alt"></i>
                    <span class="nav-item">Emprendimientos</span>
                </a>
            </li>
            <li>
                <a class="elementos">
                    <i class="bx bx-news"></i>
                    <span class="nav-item">Planes</span>
                </a>
            </li>
            <li>
                <a class="elementos">
                    <i class='bx bx-dollar'></i>
                    <span class="nav-item">Finanzas</span>
                </a>
            </li>
            <li>
                <a class="elementos">
                    <i class='bx bxs-shopping-bags'></i>
                    <span class="nav-item">Bazares</span>
                </a>
            </li>
            <li>
                <a class="elementos">
                    <i class='bx bxl-instagram'></i>
                    <span class="nav-item">Publicidad</span>
                </a>
            </li>
            <li>
                <a class="elementos">
                    <i class='bx bx-user'></i>
                    <span class="nav-item">Perfiles</span>
                </a>
            </li>
            <li>
                <a class="elementos">
                    <i class='bx bxs-videos' ></i>
                    <span class="nav-item">Capacitaciones</span>
                </a>
            </li>
            <li>
                <a class="elementos">
                    <i class='bx bx-support' ></i>
                    <span class="nav-item">Soporte</span>
                </a>
            </li>
        </ul>
    </div>

</body>