:root {
    --navy-blue: #19647e;
    --light-blue: #87bcde;
    --light-red: #e15554;
    --dark-gray: #91918f;
    --light-gray: #d9d9d9;
    --light-yellow: #ffca3a;
}

body {
    width: 280px;
    margin-top: 1vh;
    min-height: 88vh;
    border-right: 2px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: top;
}

p {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

i {
    font-size: 1.5em;
    color: black;
}

span {
    font-size: 1.3em;
    font-weight: bold;
    color: black;
}

.tituloSB {
    width: 250px;
    height: 59px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 2px solid #d9d9d9;
}

.opciones {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 15px;
    width: 100%;
}

.opciones li {
    list-style: none;
    height: 30px;
    margin-bottom: 15px;
    display: flex;
}

.elementos {
    text-decoration: none;
}

.elementos i {
    height: 30px;
    margin-right: 10px;
}

.opciones li:hover i {
    text-shadow: 0 4px 16px #19647e;
    transition: all 0.2s ease;
    color: #19647e;
}

.opciones li:hover span {
    text-shadow: 0 4px 16px #19647e;
    transition: all 0.2s ease;
    color: #19647e;
    font-size: 1.5em;
}