<app-header class="header"></app-header>

<body>
	<app-sidebar class="sidebar"></app-sidebar>

	<section class="contenido">
		<div class="titulo">
			<h1>Agregar Nuevo Cupón</h1>
		</div>

		<form class="editar" (ngSubmit)="addCoupon()">
			<div class="inputText">
				<label for="descripcion" required>Descripción del cupón</label>
				<input
					type="text"
					id="descripcion"
					name="descripcion"
					placeholder="Ingrese la descripción del cupón"
				/>
			</div>

			<div class="inputText">
				<label for="descuento" required>Porcentaje de descuento</label>
				<input
					type="text"
					id="descuento"
					name="descuento"
					placeholder="## %"
				/>
			</div>

			<div class="inputText">
				<label for="plan" required>Plan</label>
				<select id="plan" name="plan">
					<option value="Emprender">Emprender</option>
					<option value="Plan2">Plan 2</option>
					<option value="Plan3">Plan 3</option>
				</select>
			</div>

			<div class="inputText">
				<label for="validez" required>Periodo de validez</label>
				<input
					type="number"
					id="validez"
					name="validez"
					placeholder="Ingrese el número de días"
				/>
			</div>

			<div class="inputText">
				<label for="codigo" required>Código</label>
				<input type="text" id="codigo" name="codigo" placeholder="Value" />
			</div>

			<button type="submit" class="btn-primary">Agregar cupón</button>
		</form>
	</section>
</body>
