<div class="password-recovery-container">
    <img src="assets/images/logo.PNG" alt="Made In Logo" class="logo">

    <div class="password-recovery-card">
      <h1>Requiere verificación</h1>
      <p>Para continuar, complete este paso de verificación. Hemos enviado un codigo al correo suministrado en el paso anterior. Introduce el código a continuación. </p>
  
      <form>
        <label for="code">Introducir código</label>
        <input type="code" id="code" name="code" placeholder="code" required>
  
        <div class="addBtn-container">
			<a [routerLink]="'/recuperar-password/crear'">
				Continuar
			</a>
		</div>
      </form>
    </div>
  </div>
  
