<div class="password-recovery-container">
    <img src="assets/images/logo.PNG" alt="Made In Logo" class="logo">

    <div class="password-recovery-card">
      <h1>Requiere verificación</h1>
      <p>Para continuar, complete este paso de verificación. Hemos enviado un código al correo suministrado en el paso anterior. Introduce el código a continuación.</p>

      <form (ngSubmit)="onSubmit()">
        <label for="code">Introducir código</label>
        <input type="text" id="code" name="code" placeholder="code" [(ngModel)]="code" required>

        <div class="addBtn-container">
          <button type="submit">Continuar</button>
        </div>
      </form>
    </div>
  </div>
  
