<app-header class="headerPage"></app-header>

<body>
	<app-sidebar class="sidebar"></app-sidebar>

	<section class="contenido">
        <div class="titulo">
			<h1>Perfiles</h1>
		</div>

        <div class="table-container">
            <table id="myTable" class="tablita">
                <thead>
                    <tr>
                        <th>Número de empleados</th>
                        <th>Nombre Perfil</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Administrador</td>
                        <td>
                            <a class="links informa" [routerLink]="'/perfiles/1'">
                                <i class='bx bx-info-circle'></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Publicidad</td>
                        <td>
                            <a class="links informa" [routerLink]="'/perfiles/2'">
                                <i class='bx bx-info-circle'></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Ventas</td>
                        <td>
                            <a class="links informa" [routerLink]="'/perfiles/3'">
                                <i class='bx bx-info-circle'></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Community manager</td>
                        <td>
                            <a class="links informa" [routerLink]="'/perfiles/4'">
                                <i class='bx bx-info-circle'></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Asesorías</td>
                        <td>
                            <a class="links informa" [routerLink]="'/perfiles/5'">
                                <i class='bx bx-info-circle'></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </section>

</body>